*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.busqueda{
    display:flex;
    gap:10px;
    justify-content:center;
    margin-bottom:30px;
}

input{
    padding:10px;
    border:none;
    border-radius:8px;
    width:300px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

#catalogo{
    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));

    gap:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.card h2{
    margin-bottom:10px;
}

.badge{
    display:inline-block;
    padding:5px 10px;
    border-radius:20px;
    margin-bottom:10px;
    background:green;
}

.tecnicas{
    margin-top:10px;
}

.tecnica{
    display:inline-block;
    background:#2563eb;
    padding:5px 10px;
    border-radius:20px;
    margin:3px;
}